.poppins_blanco_m20px{
    font-family: 'Poppins', sans-serif;
    color: $blanco;
    margin-bottom: 20px;}

// Propiedades grid
.p_grid{
    overflow: hidden; 
    position: relative;  
    border: 3px; 
    border-color: $negro}
